extends ./layout
block bodyContainer
  .homePage
    //- include ./nav
    header.headerContainer
      h3.text-center DNS-SERVER
      
    #dnsContainer.dnsContainer
      
      
  - importer.import('/css/home.css', '/js/home-react.js');
