extends ./layout
block bodyContainer
  .homePage.hidden
    //- include ./nav
    header.headerContainer
      h3.text-center DNS-SERVER
      
    #dnsContainer.dnsContainer
      
      
  - importer.import('/css/home.css', '/js/service.js', '/js/home-react.js');
